html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #DFB160;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  margin: 30px 0 30px 0;
  font-weight: bold;
}

.name {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

  /* ----------- NavBar ------------ */

.navDiv {
  background: #6E3562;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 6em;
  border-bottom: 3px solid rgb(138, 138, 138);
  color: rgb(138, 138, 138);
  margin-bottom: 3em;
}
.logoDiv {
  background: #6E3562;
  padding: 1em;
  padding-left: 2em;
}

.navLinks {
  line-height: 6em;
}

.navLogo {
  height: 4em;
  width: auto;
  margin: 0 auto;
  /* text-align: center; */
  justify-self: center;
}

/* ------- About -------- */
.aboutHeader {
  text-align: center;
  margin-bottom: 1em;
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.header {
  margin: 30px 0 30px 0;
  font-weight: bold;
}
.name {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.carousel-parent {
  margin: 0 auto;
  width: 70%;
  margin-top: 50px;
  justify-self: center;
  height: 500px;
}